# Python cache
__pycache__/
*.pyc

# Env & config
.env
venv/
.env.*

# Logs
*.log
logs/*
!logs/.gitkeep

# Local Docker volumes
pgdata/
grafana-storage/

# OS-specific
.DS_Store

# Node / React / Next.js
node_modules/
.next/
out/
dist/
build/

